body{
    background-color: #c1bdb3;
    text-align: center;
    font-size: 20px;
}

ul{
    list-style: none;
    background-color: #7f7979;
    padding: 20px;
    border-radius: 5px;

}
ul li{
    display: inline-block;
    vertical-align: middle;
}
ul a{
    color: black;
    text-decoration: none;
    background-color: #c1bdb3;
    font-size: 1.5em;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}
ul a:hover{
    background-color: #784325;
    color: #c1bdb3;
}
.imagem{
    margin: 1%;
    width: 200px;
    border-radius: 100px;
}
#titulo{
    font-family: fantasy;
    font-size: 2.5em;
    margin: 2% 10%;
}
.descricao, .habilidades{
    color: #c1bdb3;
    background-color: #022b3a;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 1.3em;
}
strong {
    font-weight: bold;
    background-color: #6b2b06;
}
.um, .dois{
    font-size: 1em;
}
.link_rodape{
    color: black;
    text-decoration: none;
    background-color: #7f7979;
    font-size: 1em;
    margin-right: 20px;
    padding: 0 10px;
    border-radius: 5px;
}
.link_rodape:hover{
    background-color: #784325;
    color: #c1bdb3;
}
.um li:nth-child(odd){
    color: #6b2b06;
}