body{
    background-color: #c1bdb3;
    text-align: center;
}

ul{
    border-radius: 5px;
    list-style: none;
    background-color: #7f7979;
    padding: 15px;

}
ul li{
    display: inline-block;
    vertical-align: middle;
    flex-wrap: nowrap;
}
#titulo{
    font-family: fantasy;
    font-size: 40px;
    margin: 0 10%;
}
ul a{
    color: black;
    text-decoration: none;
    background-color: #c1bdb3;
    font-size: 20px;
    margin-left: ;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}
.imagem{
    width: 130px;
    border-radius: 100px;
}
.outer-box{
    width: 100%;
    margin: auto;
}
.box{
    display: flex;
}
.descricao, .habilidades{
    width: 40%;
    color: #c1bdb3;
    background-color: #022b3a;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

strong {
    font-weight: normal;
    background-color: #6b2b06;
}
.um{
    font-size: 16px;
}
.dois{
    font-size: 20px;
}